* {
  margin: 0;
  padding: 0;
}


body {
  background: #2C3E50;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4CA1AF, #2C3E50);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  hr{
    margin: 20px;
  }
}

/* Cambiar color a texto de sidebar */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;

}


nav ul {
  list-style: none;
  padding: 0;
  margin: 0;

}


nav ul ul {
  display: none;
  top: 100%;
  left: 0;

}

nav ul li:hover>ul {
  display: inline-block;

}

/* Color a botón menú */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #0c0a0a;
  color: white;
  padding: 10px 15px;
  border: none;
}

/* Función para cuando el usuario pase el mouse sobre el botón menú */
.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
      padding-top: 15px;
  }

  .sidebar a {
      font-size: 18px;
  }
}


header {
  text-align: center;
  margin: 25px 55px 45px 55px;
  padding: 20px 15px 25px 35px;
  background-color: beige;

  hr {
    height: 3px;
    background-color:#111;
    border: none;
  }

  h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  }
}

.gallery {
  flex-wrap: wrap;
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .gallery {
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);

  }

}
/* Estilos CSS para el modal */

/* Estilo para el modal */
.modal {
  display: none; /* Inicialmente ocultar el modal */
  position: fixed; /* Fijar posición */
  z-index: 1; /* Establecer el z-index para que el modal esté por encima de otros elementos */
  padding-top: 50px; /* Espaciado en la parte superior del modal */
  left: 0;
  top: 0;
  width: 100%; /* Ancho completo */
  height: 100%; /* Altura completa */
  overflow: auto; /* Permitir desplazamiento si es necesario */
  background-color: rgb(0,0,0); /* Fondo oscuro */
  background-color: rgba(0,0,0,0.9); /* Fondo oscuro con transparencia */
}

/* Estilo para el contenido del modal */
.modal-content {
  margin: auto;
  display: block;
  width: 80%; /* Ancho del contenido del modal */
  max-width: 700px; /* Ancho máximo del contenido del modal */
}

/* Estilo para la imagen dentro del modal */
img {
  width: 100%; /* La imagen ocupa todo el ancho disponible */
  height: auto; /* Altura ajustada automáticamente */
  cursor: pointer;
}

/* Estilo para el texto de la leyenda */
#caption {
  margin: auto;
  display: block;
  width: 80%; /* Ancho del texto de la leyenda */
  max-width: 700px; /* Ancho máximo del texto de la leyenda */
  text-align: center; /* Centrar el texto */
  color: #ccc; /* Color del texto */
  padding: 10px 0; /* Espaciado interior */
  height: 150px; /* Altura máxima del texto de la leyenda */
  overflow-y: auto; /* Permitir desplazamiento vertical si es necesario */
}

/* Estilo para el botón de cierre del modal */
.close {
  position: absolute; /* Posicionamiento absoluto para el botón de cierre */
  top: 15px; /* Espaciado superior */
  right: 35px; /* Espaciado derecho */
  color: #f1f1f1; /* Color del botón */
  font-size: 40px; /* Tamaño de fuente */
  font-weight: bold; /* Peso de la fuente */
  transition: 0.3s; /* Transición suave */
}

/* Estilo para el botón de cierre al pasar el ratón por encima o enfocarlo */
.close:hover,
.close:focus {
  color: #bbb; /* Cambio de color al pasar el ratón por encima */
  text-decoration: none; /* Sin subrayado */
  cursor: pointer; /* Cambiar cursor a puntero */
}