/* Esta sección hace posible el estilo de desplazamiento 
  también tomando en cuenta q nos amplia el fondo donde esta ubicado */
.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;

}

/* nos permite la edición de duración de movimiento que tendra la animación
tamibine nos permite el tipo de position */
figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 15s imagenes infinite;
}

.imagenes {
  position: relative;
  width: 25%;
  float: left;
  
}

.slider img {
  width: 100%;
  max-width: 500px;
  margin-block: 20px;
}


/* nos ayuda con el porcenta de cuando se movera a la izquierda */
@keyframes imagenes {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -0%;
  }
}

body {
  background: #a8c0ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f2b96, #a8c0ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Codigo elaborado por Jorge */