body {

  background: #000428;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #004e92, #000428);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #004e92, #000428);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Prueba de hoverable navsidebar */
#mySidenav a {
  position: absolute;
  /* Position them relative to the browser window */
  left: -80px;
  /* Position them outside of the screen */
  transition: 0.3s;
  /* Add transition on hover */
  padding: 15px;
  /* 15px padding */
  width: 100px;
  /* Set a specific width */
  text-decoration: none;
  /* Remove underline */
  font-size: 14px;
  /* Increase font size */
  color: white;
  /* White text color */
  border-radius: 0 5px 5px 0;
  /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0;
  /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#about {
  top: 20px;
  background-color: #04AA6D;
}

#blog {
  top: 100px;
  background-color: #2196F3;
  /* Blue */
}

#projects {
  top: 157px;
  background-color: #36f446;
  /* Red */
}

#contact {
  top: 215px;
  background-color: #555
    /* Light Black */
}

/* Fin prueba de Hoverable navsidebar */


.cuadro a {
  color: darkgray;



}

.contenedorForms {
  margin-top: 3em;
  text-align: center;
}

.Horario {
  text-align: center;
  vertical-align: middle;
}

h2 {
  color: rgb(25, 0, 255);
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Hora {
  color: rgb(199, 32, 32);
  font-size: x-large;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonInicio img {

  width: 10%;
  height: 10%;

}

.botonInicio {
  text-align: center;
}

/* Prueba estilo botones */
.botonesCategorias{
  text-align: center;
  

}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button1:hover {
  background-color: #008CBA;
  color: white;
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button3:hover {
  background-color: #008CBA;
  color: white;
}

.button4 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button4:hover {
  background-color: #008CBA;
  color: white;
}

.button5 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button5:hover {
  background-color: #008CBA;
  color: white;
}

.button6 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button6:hover {
  background-color: #008CBA;
  color: white;
}

.button7 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}


.button7:hover {
  background-color: #008CBA;
  color: white;
}

.button8 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button8:hover {
  background-color: #008CBA;
  color: white;
}

.button9 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button9:hover {
  background-color: #008CBA;
  color: white;
}

.button10 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button10:hover {
  background-color: #008CBA;
  color: white;
}

.button11 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button11:hover {
  background-color: #008CBA;
  color: white;
  
}

.button12 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button12:hover {
  background-color: #008CBA;
  color: white;
}

.button13 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button13:hover {
  background-color: #008CBA;
  color: white;
}

.button14 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button14:hover {
  background-color: #008CBA;
  color: white;
}

.button15 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button15:hover {
  background-color: #008CBA;
  color: white;
}

.button16 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button16:hover {
  background-color: #008CBA;
  color: white;
}

