body {

    background: #606c88;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f4c6b, #606c88);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cuadro a{
    color: darkgray;
    
    
    
}
.contenedorForms{
    margin-top: 3em;
    text-align: center;
}
.Horario{
    text-align: center;
    vertical-align: middle;
}
h2{
    color: aqua;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.Hora{
    color: crimson;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonInicio img{
    
    width: 20%;
    height: 20%;
    
}
.botonInicio{
    text-align: center;
}